---
import Layout from "../layouts/Layout.astro";
import { TodoApp } from "../components/TodoApp.tsx";
---

<Layout title="Islands - Astro.">
  <h1>Island architecture with Astro</h1>
  <TodoApp client:load />
</Layout>
